{% extends "base.html" %}

{% block content %}
{% load thumbnail %}
{% load render_table from django_tables2 %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    {{ meta_description }}
  </a>
<a class="btn btn-primary" href="{% url 'add_post' %}">Add post</a>
</nav>

    <div style="width:100%">
        {% for img in images %}
            {% thumbnail img.image "200x200" crop="center" as im %}
              <div style="float:left; width:200px; height:200px;">
              <a href={{ img.image.url }}>
                  <img src="{{ img.image.url }}" width="{{ im.width }}" height="{{ im.height }}">
              </a>
              </div>
            {% endthumbnail %}
        {% endfor%}
   </div>



    {% render_table table %}

{% endblock content %}